@import "tailwindcss";

@font-face {
    font-family: 'PilowLava';
    src: url(/assets/fonts/Pilowlava-Regular.otf);
}

@theme {
    --container-maxcontainer: 1440px;
    --container-maxcontent: 1200px;
    --font-pilowlava: 'PilowLava';
    --font-helvetica: 'Helvetica';
}